body{
    margin: 0;
    padding: 0;
}
nav{
    background-color: chartreuse;
    width: 10%;
    height: 100vh;
}
#cont{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
 
a{
    color: aliceblue;
    text-decoration: none;
    padding: 20px;
    display: block;
    
}
:hover{
    background-color: rgb(25, 143, 227);
    color: darkred;
}
#menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: orange;
    position: relative;
    display: none;
}
#drop:hover{
    display: block;
}